/* ==========================================================================
   Air skin
   ========================================================================== */

/* Colors */
//$background-color: #eeeeee !default;
$background-color: #F3F1B6 !default;
//$text-color: #222831 !default;
$text-color: #484737 !default;
//$muted-text-color: #393e46 !default;
$muted-text-color: #878772 !default;
//$primary-color: #0092ca !default;
$primary-color: #484737 !default;
//$border-color: mix(#fff, #393e46, 75%) !default;
$border-color: mix(#fff, #484737, 75%) !default;
$footer-background-color: $primary-color !default;
// $link-color: #393e46 !default;
$link-color: #757E94 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: #878772 !important; // override
  //color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
